<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testing API">
    <listeners>
        <listener class-name="epam.com.test.api.runner.TestListners" />
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="github API" >
        <classes>
            <class name="epam.com.test.api.tests.GeneralApiTest" >
                <methods>
                    <include name="responseBodyTest"/>
                    <include name="generalRequestTest"/>
                    <include name="generalResponceTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
